/* ==========================================
   ESTILOS DA TABELA DE SECÇÕES HOMOGÉNEAS
   ========================================== */

   .tabela-seccoes {
  
    /* Largura fixa para a coluna do Código */
    th.col-codigo, td.col-codigo {
      width: 20%;
      min-width: 120px;
    }
  
    /* Largura fixa para a coluna de Ações */
    th.col-acoes, td.col-acoes {
      width: 130px;
      min-width: 130px;
    }
  }