/* ==========================================
   EFEITO HOVER NOS CARTÕES DE TAREFAS (PC)
   ========================================== */
   .task-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1) !important;
    }
}